.archive {

  .archive-sidebar .archive-post {
    border: 1px solid rgb(201, 193, 193);
    border-radius: 10px;
    padding: 16px;
    margin-top: 20px;
    width: 300px;

    &:hover {
      box-shadow: 0 5px 15px hsla(0, 7%, 19%, 0.897);
      transition: ease-in .1s;
    }

    img {
      width: 100%;
      height: auto;

      &:hover {
        box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.281);
        transition: ease-in .1s;
        margin-top: 5px;
      }
    }
  }

  @media screen and (min-width: 700px) {
    display: flex;
    justify-content: space-between;
    gap: 24px;    
  }

  .single-title:not(.archive h1) {
    text-align: right;
  }

  .group-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .author-link-icon {
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
  @import "../_partial/_archive/terms";
  @import "../_partial/_archive/tags";
}
