{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}


{{- define "content" -}}

    <div class="page archive">
        <div class="main-archive">
            
            {{- /* Title */ -}}
            <h2 class="single-title animate__animated animate__pulse animate__faster">
                {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
            </h2>

            {{- /* Paginate */ -}}
            {{- if .Pages -}}
                {{- $pages := .Pages.GroupByDate "2006" -}}
                {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                    {{- $pages = $.Paginate $pages . -}}
                {{- else -}}
                    {{- $pages = .Paginate $pages -}}
                {{- end -}}
                {{- partial "recentlyUpdated.html" . -}}
                {{- range $pages.PageGroups -}}
                    <h3 class="group-title">{{ .Key }}</h3>
                    {{- range .Pages -}}
                        <article class="archive-item">
                            <a href="{{ .RelPermalink }}" class="archive-item-link">
                                {{- .Title -}}
                            </a>
                            <span class="archive-item-date">
                                {{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}
                            </span>
                        </article>
                    {{- end -}}
                {{- end -}}
                {{- partial "paginator.html" . -}}
            {{- end -}}

        </div>

        <div class="advh">
            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ur1&category=beauty_sns&banner=0X3Z6EPSHZMM33642DR2&f=ifr&linkID=ddcac91b318e0ee67645afaa653c8947&t=make01e-20&tracking_id=make01e-20" width="100%" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
            
                <style type="text/css">
                    .advh {
                        border: none;
                        text-align: center;
                        text-decoration: none;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        margin: 16px auto;
                        width: 100%;
                    }
                </style>
        </div>
    </div>
{{- end -}}

