{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}

    <div class="page home"{{ if ne $posts.enable false | or .Content }} posts{{ end }}>
        {{- /* Profile */ -}}
        {{- if ne $profile.enable false -}}
            {{- partial "home/profile.html" . -}}
        {{- end -}}

        {{- /* Content */ -}}
        {{- if .Content -}}
            <div class="single">
                <div class="content" id="content">
                    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                </div>
            </div>
        {{- end -}}
    </div>
<div class="advh">
<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ur1&category=beauty_sns&banner=0X3Z6EPSHZMM33642DR2&f=ifr&linkID=ddcac91b318e0ee67645afaa653c8947&t=make01e-20&tracking_id=make01e-20" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>

    <style type="text/css">
        .advh{
         border: none;
         text-align: center;
         text-decoration: none;
         display: flex;
         border-radius: 5px;
         justify-content: center;
         margin: auto;
         margin-bottom: 5px;
        }
    </style>
</div>    
    <div class="page home page1"{{ if ne $posts.enable false | or .Content }} posts{{ end }}>
        {{- /* Posts */ -}}
        {{- if ne $posts.enable false | and .Site.RegularPages -}}
            {{- /* Paginate */ -}}
            {{- $pages := where .Site.RegularPages "Type" "posts" -}}
            {{- if .Site.Params.page.hiddenFromHomePage -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" false -}}
            {{- else -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" "!=" true -}}
            {{- end -}}
            {{- with $posts.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.Pages -}}
                {{- .Render "summary" -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
