{{- $params := .Params | merge .Site.Params.page -}}
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6  mb-4">
    <div class="card h-100 single-post-card shadow-effect bg-faded-light">
        <a href="{{ .Permalink }}">
            <div class="card-body">

            <!-- {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ .Title }}" class="card-img-top img-fluid">
            {{ end }} -->
            
            {{- /* Featured image */ -}}
            {{- $image := $params.featuredImagePreview | default $params.featuredImage -}}
            {{- $height := "auto" -}}
            {{- $width := "auto" -}}
            {{- with .Resources.GetMatch (printf "%s" ($image)) -}}
                {{- $image = .RelPermalink -}}
                {{- $height = .Height -}}
                {{- $width = .Width -}}
            {{- end -}}
            {{- with .Resources.GetMatch "featured-image" -}}
                {{- $image = .RelPermalink -}}
                {{- $height = .Height -}}
                {{- $width = .Width -}}
            {{- end -}}
            {{- with .Resources.GetMatch "featured-image-preview" -}}
                {{- $image = .RelPermalink -}}
                {{- $height = .Height -}}
                {{- $width = .Width -}}
            {{- end -}}
            {{- if $image -}}
            {{- else -}}
            {{- $image = ("img/no-image.jpg" | absURL) -}}
            {{- end -}}
            {{- with $image -}}
                {{- dict "Src" . "Title" $.Description "Resources" $.Resources "Height" $height "Width" $width "Loading" "eager" | partial "plugin/image_.html" -}}
            {{- end -}}
        </a>

                <p class="post-meta">
                    {{ partial "post_meta.html" . }}
                </p>
        <a href="{{ .Permalink }}">

                <h3 class="fw-bold post-title">{{ .Title }}</h3>
                <!-- {{ if .Params.subtitle }}
                <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                </h3>
                {{ end }} -->

                {{ print }}
                <div class="post-entry">
                    <!-- 有特图摘要显示特图摘要没有显示内容 -->
                    {{ if .Summary }}
                    {{ .Summary }}

                    {{ else }}
                    {{ .Content }}
                    {{ end }}
                </div>

                <div class="author authorbox">
                                
                    <span class="post-author">
                        {{- partial "meta/author" . }}
                    </span>
                        
                    {{- /* Footer */ -}}
                    <div class="post-footer">
                        {{/*  <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>  */}}
                        {{- with .Params.tags -}}
                            <div class="post-tags">
                                <i class="fas fa-tags fa-fw"></i>&nbsp;
                                {{- range $index, $value := . -}}
                                    {{- if gt $index 0 }},&nbsp;{{ end -}}
                                    {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
                                    <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
                                {{- end -}}
                            </div>
                        {{- end -}}
                    </div>
                </div>
                {{/*  <div class="read-more-section">
                    <h6>Read more</h6>
                </div>  */}}
                
            </div>


            {{ if .Params.video }}
            <video loop autoplay muted playsinline class="img-title">
                <source src="{{ .Params.video }}">
            </video>
            {{ end }}
        </a>
    </div>
</div> 