<a class="abcd" 
href="{{.Get "h"}}" >
<img class="pic" src="{{.Get "p"}}" >
</a>

<style>

.abcd{
  width: auto;
  height: auto;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 15px;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
.pic{
  height: 320px;
  width: 100%;
}  
.pic:hover{
  transition: 0.2s;
  font-size: 18px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
}
.abcd:hover {
	transition: 0.2s;
	font-size: 18px;
}

</style>
